#Travel{
    border: solid 1px;
    margin: 3% 50%;
    padding: 14px, 17px;
    width: 40%;
    height: 600px;
    

    
}
.input{
    border: solid 1px;
        padding: 14px, 14px;
        width: 50%;
        border-radius: 10px;
        margin: auto;

}
#Name{
    display: grid;
    grid-template-columns: 20% 50%;
    justify-content: left;
    display: flex;
    flex: content;
    gap: 5px;
}
    #page{
        display: grid;
        grid-template-columns: 50% 50%;
         justify-content: left;
        display: flex;
        flex: content;

    

    }

.photo{
    padding: 24px;
     position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 40%;
height: 80%;
    
    
}
.Google{ 
    width: 9%;
    height: 30px;
    margin-left: 15%;
    margin-right: 17%;
   


}
.Facebook{
    width: 9%;
    height: 30px;
    margin-left: 15%;
    margin-right: 17%;

    


}
button{
    padding: 12px 240px;
            border: none;
            background-color: hwb(239 43% 9%);
            color: hsl(0, 30%, 96%);
            border:solid 1px;
}